@import url("https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");


html {
  overflow-x: hidden;
  height: 100vh;
}

 body {
  background: #343a40;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #757575;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
 
} 

h1, h2, h3, h4 {
  font-size: 38px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #dcdcdc;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

a {
  color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

.section-er {
  margin-bottom: 30px;
}

.section-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  position: relative;
  background-color: #f7355a;
  padding: 7px;
  border-radius: 10px;
}

.white {
  color: white;
}
.section-title span {
  color :#000000;
}

.shape {
  height: 1px;
  margin: 0 auto 30px;
  position: relative;
  width: 80px;
  background-color: #02afb7;
}

.padding-none {
  padding: 0px;
}

.bg-gray {
  background: #343a40;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(61, 96, 244, 0.3);
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color:#e32626;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn-common:hover {
  color: white;
  background: #249ba0;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

button:focus {
  outline: none !important;
}

.social-icon a {
  color: #636363;
  background: #fff; 
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4A9CEC;
}

.social-icon .instagram:hover {
  background: #D6274D;
}

.social-icon .linkedin:hover {
  background: #1260A2;
}

.social-icon .google:hover {
  background: #CE332A;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background:#e32626;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top i:hover {
  background-color: #249ba0;
}

a.back-to-top:hover, a.back-to-top:focus {
text-decoration: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffb8;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #00fff2;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 7px solid #f2f2f2;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-padding {
  padding: 50px 0;
}

.section-padding2 {
  padding: 0px;
}

hr {
  border-top: 1px dotted #ddd;
}

/* ==========================================================================
 8. Proyectos
   ========================================================================== */
   #features {
    background-image: url(../img/fondo4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #features-subtitle {
    color: #e32626;;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  
  #features .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  #features .content-left span {
    float: right;
  }
  
  #features .content-left .text {
    text-align: right;
  }
  
  #features .content-right span {
    float: left;
  }
  
  #features .box-item {
      display: flex;
      flex-direction: row-reverse;
      padding: 15px;
      line-height: 22px;
      margin-top: 30px;
      border-radius: 3px;
      position: relative;
      top: 0;
  }

  #features .box-item:hover h4 {
    color: #02afb7;
  }
  
  #features .box-item .icon {
      flex: 1;
      text-align: center;
      margin: 12px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
  }
  
  #features .box-item .icon i {
    color: #02afb7;
    font-size: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #features .box-item .text h4 {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #features .box-item .text p {
    font-size: 14px;
    line-height: 26px;
    text-align: left;
  }
  
  #features .show-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #features .show-box img {
    width: 100%;
  }
  
  #paradigm-foot {
      color: #714c91;
      margin-top: 5vh;
      font-weight: bold;
      font-size: 20px;
  }
  
  
  /*      ---------------------- Proyectos ------------------------------        */
  
  .content-consulting {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  /* Proyectos Item */
  
  #services {
    background-color:#343a40;
  }
  
  #servicios {
    background: #f2f2f2;
  }

  #servicios .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  #servicios .show-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #servicios .show-box img {
    width: 90%;
  }
  
.services-item {
  background: #272b30;
  height: 29rem;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0 0 12px #cdcdcd;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item2 {
  background: #272b30;
  height: 32rem;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  box-shadow: 0 0 12px #cdcdcd;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item2 .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item2 .icon i {
  font-size: 30px;
  color: #02afb7;
  line-height: 70px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item p {
  color: #dcdcdc;
}

.services-item .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
  font-size: 30px;
  color: #02afb7;
  line-height: 70px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .services-content h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
}

.services-item .services-content h3 a {
  font-size: 16px;
  color: #e32626;
  font-weight: bold;
}

.services-item .services-content h3 a:hover {
  color: #02afb7;
}

.services-item:hover {
  box-shadow: 0 10px 22px 10px rgba(102, 102, 102, 0.1);
}

.services-subtitle {
  display: flex;
  justify-content: center;
}

.services-subtitle h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #f8f8f8;
}

#services-subtitle {
  color: #f7f7f7;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#development .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#development .content-left span {
  float: right;
}

#development .content-left .text {
  text-align: right;
}

#development .content-right span {
  float: left;
}

#development .box-item {
  box-shadow: 0 0 12px #b3b3b3;
  padding: 15px;
  line-height: 22px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  -mox-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  top: 0;
}

#development .box-item .icon {
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#development .box-item .icon i {
  color: #02afb7;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#development .box-item .text h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#development .box-item .text p {
  font-size: 14px;
  line-height: 26px;
}

#development .box-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#development .box-item:hover h4 {
  color: #02afb7;
}

#development .show-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#development .show-box img {
  /* width: 100%; MEDIDAS DEL MUNDO */
  width: 60%;
}
/*End Development*/


.about-area .about-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.about-area .about-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

.content span {
  font-weight: bold;
}

.about-area img {
  border-radius: 4px;
}

.about-area .content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-area .content p {
  margin-bottom: 30px;
}

#cta {
  padding: 30px 0;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background:#414141 !important;
  z-index: 999999;
  padding: 5px !important;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 60%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #000000 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #ffffff !important;
  border-color: #ffffff !important;
  font-weight: bold;
} 

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid#e32626;
  color: #e32626;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-brand img {
  width: 60%;
}

/*link activo*/
.top-nav-collapse .navbar-nav li.active a.nav-link {
  color:#e32626 !important;
  border-color: #e32626;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 25px;
}

/* Links del Nav */
.navbar-expand-md .navbar-nav .nav-link {
  color:#000000;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* link del nav guión */
/* .navbar-expand-md .navbar-nav .nav-link:before {
  background-color:#e32626;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  width: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 1s;
  -ms-transition: width 1s;
  -webkit-transition: width 1s;
} */

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active > a,
.navbar-expand-md .navbar-nav li a:focus {
  color: #fff;
  outline: none;
}

/* Link posicionado en sección */
.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #e32626 !important;
  font-weight: bold;
  width: 100%;
}

/*inicio*/

.navbar-expand-md .navbar-nav .nav-link-inicio:hover,
.navbar-expand-md .navbar-nav .nav-link-inicio:hover::before,
.navbar-expand-md .navbar-nav .nav-link-inicio:focus {
  color: #1900ff;
  font-weight: bold;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
  
}

/*services*/
.navbar-expand-md .navbar-nav .nav-link-services:hover,
.navbar-expand-md .navbar-nav .nav-link-services:hover::before,
.navbar-expand-md .navbar-nav .nav-link-services:focus {
  color:#00c4ff;
  font-weight: bold;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
}

/*projects*/
.navbar-expand-md .navbar-nav .nav-link-projects:hover,
.navbar-expand-md .navbar-nav .nav-link-projects:hover::before,
.navbar-expand-md .navbar-nav .nav-link-projects:focus {
  color: #ff0099;
  font-weight: bold;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
}

/*contact*/
.navbar-expand-md .navbar-nav .nav-link-contact:hover,
.navbar-expand-md .navbar-nav .nav-link-contact:hover::before,
.navbar-expand-md .navbar-nav .nav-link-contact:focus {
  color:#ff7b00;
  font-weight: bold;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s; 
}
.navbar {
  padding: 10px 0;
}

.navbar li.active a.nav-link {
  color: white;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
   /*float: left;*/
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #02afb7;
  background: #f7f7f7;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

/* ==========================================================================
3. Hero Area (Header)
========================================================================== */
#hero-area {
  background-image: url(../img/fondo5.jpg);
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-size: 100%;
  /* background-color: rgb(230, 0, 0); */
  min-height: 500px;
  position: relative;
  overflow: hidden;
  padding: 75px 0px 0px;
  text-align: center;
}

#hero-area .contents .head-title {
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}

#hero-area .contents .header-button {
  margin-top: 20px;
  color: #222222;
}

#hero-area .contents .header-button .btn {
  margin-right: 10px;
}

.sloder-img {
  background: #34363a;
}


/* ==========================================================================
   Sobre Mí Table Style (Pricing)
   ========================================================================== */
#pricing {
  text-align: center;
  background:#343a40;
}

#pricing .title {
  padding-top: 20px;
}

#pricing .title h3 {
  text-transform: uppercase;
  color: #dcdcdc;
  font-size: 18px;
}

.foco-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#pricing .title .month-plan {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

#pricing .table {
  flex: 1;
  background: #272b30;
  margin-top: 15px;
  padding: 30px;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0px 2px 18px 0px #e9e9e9;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.flex {
  display: flex;
}

#pricing .table p {
  color:  #dcdcdc;
}

#pricing .table .icon-box {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  /*border: 1px solid #714c91;*/
  margin-bottom: 20px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#pricing .table .icon-box i {
  color: #39dae1;
  line-height: 80px;
  font-size: xx-large;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#pricing .table .pricing-header {
  position: relative;
  text-align: center;
}

#pricing .table .pricing-header .price-value {
  font-size: 16px;
  color:#f7f7f7;
  position: relative;
  text-align: center;
  font-weight: bold;
}

#pricing .table .pricing-header .price-value span {
  font-size: 15px;
  color: #abacae;
  font-weight: 400;
}
.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.slick-slider {
  padding: 80px 0;
}

.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center;
}

.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9);
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  border: 1px solid  #f1f1f1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.16);
}

.form-control:focus {
  border-color: rgb(161, 161, 161);
  box-shadow: none;
  outline: none;
}

textarea {
  border-radius: 4px !important;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

#contact {
   background: #192525;
} 

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.contact-right-area {
  margin-left: 50px;
}

.contact-right-area .contact-title {
  margin-bottom: 20px;
}

.contact-right-area .contact-title h1 {
  font-size: 22px;
}

.contact-right {
  padding: 4px;
}

.contact-right .single-contact {
  margin: 30px 0px;
  padding: 3px 55px;
  position: relative;
  color: #abacae;
}

.contact-right .single-contact p {
  margin-bottom: 0px;
}

.contact-right .single-contact p a {
  color: #abacae;
}

.contact-right .contact-icon {
  background: #F63854;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

.h3 {
  float: right;
  font-size: 16px;
}


/* Footer Area Start */
.footer-area {
  position: relative;
  padding: 80px 0px 0px;
  background: linear-gradient(0deg, black, #343a40);
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-area .footer-titel {
  font-size: 16px;
  color: #714c91;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer-area .footer-titel span {
  color: #ccc;
  font-weight: 400;
}

.footer-area .textwidget p {
  color:#cecece;
}

.footer-area .footer-link li {
  margin-bottom: 10px;
}

.footer-area .footer-link li a {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.footer-area .footer-link li a {
  color: #757575;
}

.footer-area .footer-link li a:hover,
.footer-area .address li a:hover {
color: #39dbe2;
}

.footer-area .address li {
  margin-bottom: 20px;
  color: #999d9d;
}

.footer-area .address li a {
  color: #a3a3a3;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.footer-area .address li a i {
  font-size: 22px;
  width: 32px;
  vertical-align: middle;
  height: 36px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  line-height: 32px;
}

.footer-area #subscribe-form {
  margin-top: 10px;
}

.footer-area #subscribe-form .form-group {
  position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 52px;
  border-radius: 0;
  background: transparent;
  color:#e32626;
}

#copyright .copyright-content {
  border-top: 1px solid #d5d4e9;
  padding: 15px 0;
  margin: 45px 0 0px;
}

#copyright p {
  line-height: 42px;
  color: #cecece;
  text-align: start;
  margin: 0;
}

#copyright p a {
  color:#ffffff;
  font-weight: bolder;
}

.social-icon a {
  color: #999d9d;
  background: transparent;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

/* DEJO LOS COLORES CORRESPONDIENTES DE CADA ICONO*/
.social-icon a:hover {
  color: #fff !important;
}

.social-icon .facebook:hover {
  background: #3b5999;
}

.social-icon .twitter:hover {
  background: #4A9CEC;
}

.social-icon .instagram:hover {
  background: #D6274D;
}

.social-icon .linkedin:hover {
  background: #1260A2;
}

.social-icon .google:hover {
  background: #CE332A;
}

.social-icon .whatsapp:hover {
  background: rgb(49, 202, 62);
}

.social-icon .gitlab:hover {
  background: rgb(252, 104, 6);
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  font-weight: bold;  
}

.arrow a {
  color:white;
}

.arrow a:hover {
  color: #03afb7;
}

#arrow-down {
  color: #e32626;
  font-size: xx-large;
  margin-top: 0;
}

#arrow-down:hover {
  color: #39dbe2;
  font-size: xx-large;
  margin-top: 0;
}



/* Animacion Header */

#header-wrap {
  width: 100%;
  height: 100%;
  background: #ffffffb8;
}

.intro-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
/* Cursor */
.txt-type > .txt {
  border-right: 0.1rem solid#777;
}

/* ---------------------------- Imágenes General ------------------------ */

.creative_img {
  position: relative;
  z-index: 0;
  max-width: 80%;
  margin-top: 2rem;
}

/* ------------------------------- Clases General ----------------------*/
.top {
  top: -35px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}


/***************** Tecnologías *************************/

div.container-technologies {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}


.technologies {
  vertical-align: middle;
  border-style: none;
  border-radius: 1rem;
  text-align-last: justify;
}

img.technologies {
  width: 150px;
  height: 100px;
  margin: 18px;
  padding: 10px;
  cursor: pointer
}

.technologies:active {
  filter: inherit;
}
/******************** End Tecnologies *****************/



/******** imagenes de los Proyectos *************/


.container-muestras {
  display: flex;
}

/* .img-laptop {
  width: 100%;
} */


.img-mobile {
  width: 15%;
  height: 11%;
  margin-top: 5rem;
} 

.img {
  border: 0;
  width: 80%;
  margin-top: -3rem;
  vertical-align: middle;
  box-sizing: border-box;
}

.img-muestras {
  width: 85%;
  transition: 1s;
  position: relative;
  bottom: 10px;
  
}

.img-muestra {
  width: 72%;
  margin-right: -75px;
  margin-top: -19rem;
}

.img-muestras:hover {
  transform: scale(1.4);
  /* box-shadow: 0 0 12px #01dbf8; */
  cursor: pointer; 
}

.img-mobile:hover {
  transform: scale(1.5);
  /* box-shadow: 0 0 12px #01dbf8; */
  cursor: pointer; 
}

.img-muestra:hover {
  transform: scale(1.4);
  /* box-shadow: 0 0 12px #01dbf8; */
  cursor: pointer; 
}

.img-muestras2 {
  width: 15%;
  height: 100%;
  transition: 1s;
  border-radius: 1rem;
}

.img-muestras2:hover {
  transform: scale(1.4);
  box-shadow: 0 0 12px #01dbf8;
  cursor: pointer; 
}


.img-contact {
  border: 0;
  width: 80%;
  margin-top: -3rem;
  vertical-align: middle;
  box-sizing: border-box;
}

.muestras {
  display: flex;
  justify-content: space-between;
}

