/* ---------------------------------------------    WIDESCREEN 16:9 / 16:10 22"   --------------------------- */

@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10) {

  .creative_img {
    max-width: 130%;
  }

  #hero-area .contents .head-title {
    font-size: 55px;
    line-height: 60px;
    color: #4e4e4e;
  }

  #intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pricing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #services {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #features {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

  #development,
  #servicios {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ---------------------------------------------    ONLY SMALL DESKTOPS   --------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {
  #hero-area {
    background-position: center center;
  }

  #hero-area .contents .head-title {
    font-size: 40px;
    color: #4e4e4e;
  }

  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .title-hl {
    font-size: 30px;
  }
  .why .content h3 {
    font-size: 30px;
  }
  .team-item .contetn {
    padding: 15px 20px;
  }

  #services .content-center,
  #features .content-center{
    max-width: 89%;
  }
}

/* -----------------------------------------------------     TABLETS      ----------------------------------- */

@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .services-item {
    margin-bottom: 20px;
  }
  #pricing-table .title h3 {
    font-size: 14px;
  }

  #hero-area {
    background-color: rgb(17 17 17);
    background-position: center center;
  }

  #hero-area .contents .head-title {
    font-size: 40px;
    color: #4e4e4e;
  }

  .creative-img {
    max-width: 72%;
  }

  #services .content-center,
  #features .content-center{
    max-width: 80%;
  }
}


/* ---------------------------------------------------  ONLY SMALL TABLETS   ------------------------ */

@media (min-width: 768px) and (max-width: 991px) {

  #hero-area {
    background-color: rgb(17 17 17);
    background-position: center center;
  }

  #hero-area .contents .head-title {
    color: #4e4e4e;
    /* color: red; */
    text-align: center;
    font-size: 49px;
    line-height: 54px;
  }

  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 16px;
  }

  .services-item {
    margin-bottom: 20px;
    height: auto;
}

  .bg-inverse {
    background: #414141 !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  }

  .navbar-expand-md .navbar-nav .nav-link {
    margin-bottom: 0;
    margin-top: 0;
  }

  .creative-img {
    max-width: 72%;
  }

  #aboutUs .sec-title h3,
  #about .sec-title h3 {
    font-size: 30px;
    line-height: 42px;
  }
  .title-hl {
    font-size: 30px;
  }
  .text-wrapper {
    padding: 60px 30px;
  }
  .why .content h3 {
    font-size: 30px;
  }
  #pricing-table .title h3 {
    font-size: 14px;
  }
  .skill-area img {
    margin-bottom: 30px;
  }
  #blog .blog-item-wrapper {
    margin-bottom: 30px;
  }
  .experience h4 {
    font-size: 18px;
  }
  .testimonial-item {
    padding: 10px;
  }
  .testimonial-item .content h2 {
    font-size: 15px;
  }
  .slider-center img {
    padding: 40px 60px;
  }
  .subscribes h4 {
    font-size: 30px;
  }
  .footer-area .footer-titel {
    margin-top: 30px;
  }
  .contact-right-area {
    margin-top: 0px;
    margin-left: 0px;
  }

  #services .content-center,
  #features .content-center{
    max-width: 80%;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  #copyright p {
    text-align: center;
    margin: 0;
  }

  .top-nav-collapse .navbar-brand img {
    width: 100%;
}

}


/* ------------------------------------------------------   MOBILE OR MOBILE ONLY    -------------------------------------- */


/* Background para ancho máximo del navegador */
@media only screen and (max-width: 767px) {

  .navbar-brand img {
    width: 85%;
  }

  /* Cambios margenes logo mobile */
  #logo-nav {
    margin: 0px 0px 0px 15px;
  }
  
  .navbar {
    padding: 10px 0 !important;
  }

  .fixed-top {
    top: 0 !important;
  }

/* Cambios margenes logo mobile */
#navbar-menu {
  margin: 0px -25px 0px 0px;
  text-align: center;

}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #ffffff;
  color:#ffffff;
  border-radius: 4px;
}

.top-nav-collapse .navbar-brand img {
  width: 85%;
}

.section-padding {
  padding: 90px 0;
}

.section-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 0;
}

.navbar-expand-md .navbar-brand,
.navbar-expand-md .navbar-toggler {
  margin: 0px 15px;
}

.bg-inverse {
  background: #414141 !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}

.navbar-nav {
  align-items: flex-end;
  padding-left: 50px;
}

.navbar-expand-md .navbar-nav .nav-link {
  margin-bottom: 0;
  margin-top: 0;
}

.navbar-brand img {
  margin: 5px 0;
}
  
.top-nav-collapse .navbar-brand img {
  margin-top: 10px;
}

a {
  color: #2e2e2e;
  text-decoration: none;
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
}

.container {
  /* display: flex; */
  justify-content: center;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
  padding-right: 1px;
  padding-left: 0;
}
.navbar>.container, .navbar>.container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
  padding-right: 50px;
  padding-left: 0;
}

.navbar {
  padding: 10px 0 !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

  .intro-img {
    margin-top: 20px;
  }

  .creative-img {
    max-width: 72%;
  }

  #hero-area .img-thumb {
    display: none;
  }

  #hero-area .contents .head-title {
    font-size: 29px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: #4e4e4e;
  }

  #head-img {
    max-width: 98%;
  }

  #hero-area .contents p {
    font-size: 14px;
  }

  /*header*/
  #hero-area {
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: rgb(17 17 17);
    min-height: 450px;
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0px;
    text-align: center;
    margin-top: -2rem;
  }
  
  #hero-area .contents .btn {
    margin: 5px 10px 10px 0px;
  }

  .site-heading {
    margin: 0px 14px;
  }

  .text-wrapper {
    padding: 60px 15px;
  }

  #aboutUs .sec-title h3,
  #about .sec-title h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .about-area img {
    margin-top: 30px;
  }

  .about-area .content {
    margin: 15px 14px 0px 14px;
  }

  #light-img {
    max-width: 100%;
  }

  .feature-thumb {
    padding: 10px;
  }

  #paradigm-foot {
    font-size: large;
  }

  .services-dev-title #services-dev-title {
    font-size: 20px;
  }

  .services-item {
    margin-bottom: 20px;
    height: auto;
}

  #development .box-item2 .text h3,
  #servicios .box-item2 .text h3 {
    font-size: 12px;
    font-weight: bold;
  }

  #development .box-item2 .text p,
  #servicios .box-item2 .text p {
    font-size: 12.5px;
    line-height: 25px;
  }

  .client-item-wrapper img {
    width: 50%;
  }

  #cta h4 {
    font-size: 22px;
  }

  #cta .text-right {
    float: left !important;
  }

  #cta .btn {
    float: left;
  }

  .footer-right-contact .single-contact {
    margin: 10px 7px;
    padding: 3px 45px;
  }

  .footer-area .footer-titel {
    margin-top: 30px;
  }

  .contact-right-area {
    margin: 20px 0;
  }

  .contact-form-area h2 {
    font-size: 14px;
  }

  .copyright .float-right {
    float: left !important;
  }

  #copyright p {
    text-align: center;
    margin: 0;
  }

  #copyright p a {
    color: #ffffff;
    font-weight: bolder;
    font-size: 16px;
}

  .map {
    margin-top: 20px;
  }

  #cta {
    padding: 20px 0;
  }

  .cta-text {
    margin-bottom: 30px;
  }

  #services .content-center,
  #features .content-center {
    max-width: 100%;
  }

  #services .content-center {
    margin-left: 20px;
    min-width: 87%;
  }

  .img {
    width: inherit;
    margin-top: 80px;
  }

  .img-contact {
    width: 100%;
    display: block;
    margin-top: 4rem;
  }

  .text-left {
    text-align: center;
  }


  .col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: contents;
  }

  .services-item2 {
    background-color: rgb(34, 86, 83);
    height: 17rem;
  }

  #features {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .audio {
    width: 30px;
    height: 32px;
    display: flex;
    margin-right: 5rem;
}

  .row {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .footer-area .address li a {
    display: block;
    justify-content: center;
    margin: 40px;
  }

  .footer-area .address li {
    margin-bottom: -20px;
    color: #999d9d;
}

  .social-icon a {
    margin-left: auto;
    margin-right: auto;
  }

  .tecnologias {
    margin-left: 70px;
    padding: initial;
    display: block;
  }

  .img-muestras:hover {
    transform: scale(1.2);
  }

  .img-muestras2:hover {
    transform: scale(1.2);
  }

  .img-mobile {
    width: 15%;
    height: 11%;
    margin-top: 3rem;
}

  a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
}
}

/* ------------------------------------------------------   MOBILE OR MOBILE 2 ONLY    -------------------------------------- */

@media (max-width: 640px) {

      #navbar-menu {
        margin: 0px -25px 0px -70px;
    }

    .navbar-nav {
      align-items: flex-end;
      padding-left: 50px;
    }

      #services .content-center {
        max-width: 87%;
        margin-left: 20px;
      }


    .navbar-brand img {
        width: 85%;
      }

    .btn-common {
      display: block;
      margin: auto;
    }

    .img {
      width: inherit;
      margin-top: 80px;
    }

    .img-contact {
      width: 100%;
      display: block;
      margin-top: 4rem;
    }

    .row {
      display: -ms-flexbox;
      /* display: flex; */
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    #copyright p {
      text-align: center;
      margin: 0;
    }

    #copyright p a {
      color: #ffffff;
      font-weight: bolder;
      font-size: 16px;
    }

    .col-sm-12 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      display: contents;
    }

    .footer-area .address li a {
      display: block;
      justify-content: center;
      margin: 40px;
    }

    .footer-area .address li {
      margin-bottom: -20px;
      color: #999d9d;
    }

    .social-icon a {
      margin-left: 33px;
      
    }

    .tecnologias {
      margin-left: 70px;
      padding: initial;
      display: block;
    }

    .services-item {
      margin-bottom: 20px;
      height: auto;
    }

  .img-muestras:hover {
    transform: scale(1.2);
    }

    .img-muestras2:hover {
      transform: scale(1.7);
    }

    .img-mobile {
      width: 15%;
      height: 11%;
      margin-top: 3rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
  }

  .audio {
    width: 30px;
    height: 32px;
    display: flex;
    margin-right: 5rem;
  }

  .section-padding {
    padding: 90px 0;
  }

  div.social-icon {
    display: flex;
    justify-content: center;
  }


}
